.Board {
  width: auto;
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Search {
  display: flex;
  gap: 10px;
}

.Search input {
  flex: 1;
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.Search button {
  cursor: pointer;
  width: 80px;
  border: none;
  background-color: rgb(24, 202, 77);
  color: white;
  border-radius: 5px;
}

.Button button {
  cursor: pointer;
  width: 60px;
  border: none;
  background-color: rgb(184, 223, 196);
  color: white;
  border-radius: 5px;
  flex: 1;
  padding: 7px;
}

.Button2 button {
  cursor: pointer;
  width: 80px;
  border: none;
  background-color: rgb(184, 223, 196);
  color: white;
  border-radius: 5px;
  flex: 1;
  padding: 7px;
}
