.ListItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(204, 240, 240);
}

.type {
  width: 150px;
}

.title {
  flex: 1;
}

.user {
  color: gray;
}

.date {
  color: gray;
}
